#
# Caddyfile for Home Assistant
#

# redirect http to https
http://ha.local.pexcn.me {
	redir https://{host}{uri} permanent
}

# reverse proxy to home assistant endpoint
https://ha.local.pexcn.me {
	encode zstd gzip
	tls /cert/ha.local.pexcn.me_ecc/fullchain.cer /cert/ha.local.pexcn.me_ecc/ha.local.pexcn.me.key

	reverse_proxy 127.0.0.1:8124 {
		header_up Host {host}
		header_up X-Real-IP {remote}

		# enabled by home assistant
		#header_up X-Forwarded-For {remote}

		# enabled by default
		#header_up X-Forwarded-Proto {scheme}
	}
}

# reverse proxy to home assistant endpoint (external)
https://ha.pexcn.me:8123 {
	encode zstd gzip
	tls /cert/ha.pexcn.me_ecc/fullchain.cer /cert/ha.pexcn.me_ecc/ha.pexcn.me.key

	reverse_proxy 127.0.0.1:8124 {
		header_up Host {host}
		header_up X-Real-IP {remote}

		# enabled by home assistant
		#header_up X-Forwarded-For {remote}

		# enabled by default
		#header_up X-Forwarded-Proto {scheme}
	}
}
