services:
  # ssserver
  ssserver:
    image: pexcn/docker-images:shadowsocks-rust
    container_name: ssserver
    restart: unless-stopped
    network_mode: host
    environment:
      TZ: Asia/Taipei
      CHILLING_EFFECT: 0
    command: >
      ssservice server
        --server-addr [::]:1776
        --password password
        --encrypt-method aes-128-gcm
        --timeout 600
        --udp-timeout 300
        --user nobody
        --nofile 1048576
        --tcp-keep-alive 60
        --tcp-fast-open
        --tcp-no-delay
        -U

  # sslocal
  sslocal:
    image: pexcn/docker-images:shadowsocks-rust
    container_name: sslocal
    restart: unless-stopped
    network_mode: host
    environment:
      TZ: Asia/Taipei
      CHILLING_EFFECT: 0
    command: >
      ssservice local
        --local-addr [::]:1080
        --server-addr 111.222.33.44:80
        --password password
        --encrypt-method aes-128-gcm
        --timeout 600
        --udp-timeout 300
        --user nobody
        --nofile 1048576
        --tcp-keep-alive 60
        --tcp-fast-open
        --tcp-no-delay
        -U

  # sstunnel
  sstunnel:
    image: pexcn/docker-images:shadowsocks-rust
    container_name: sslocal
    restart: unless-stopped
    network_mode: host
    environment:
      TZ: Asia/Taipei
      CHILLING_EFFECT: 0
    command: >
      ssservice local
        --protocol tunnel
        --local-addr [::]:8123
        --forward-addr 192.168.1.30:8123
        --server-addr 111.222.33.44:2077
        --password password
        --encrypt-method aes-128-gcm
        --timeout 600
        --udp-timeout 300
        --user nobody
        --nofile 1048576
        --tcp-keep-alive 60
        --tcp-fast-open
        --tcp-no-delay
        -U

  # ssredir
  ssredir:
    image: pexcn/docker-images:shadowsocks-rust
    container_name: ssredir
    restart: unless-stopped
    network_mode: host
    environment:
      TZ: Asia/Taipei
      CHILLING_EFFECT: 0
    command: >
      ssservice local
        --protocol redir
        --local-addr [::]:1234
        --server-addr 111.222.33.44:2077
        --password password
        --encrypt-method aes-128-gcm
        --timeout 600
        --udp-timeout 300
        --user nobody
        --nofile 1048576
        --tcp-keep-alive 60
        --tcp-fast-open
        --tcp-no-delay
        --tcp-redir tproxy
        --udp-redir tproxy
        -U
