services:
  netspeeder:
    image: pexcn/docker-images:netspeeder
    container_name: netspeeder
    restart: unless-stopped
    network_mode: host
    privileged: true
    init: true
    command: eth0 "src port 993 || src port 2222"
