services:
  smartmontools:
    image: pexcn/docker-images:smartmontools
    container_name: smartmontools
    restart: unless-stopped
    network_mode: host
    privileged: true
    environment:
      TZ: Asia/Taipei
      SMARTD_CONFIG: "DEVICESCAN -a -n standby,1440 -s (S/../19/./01:001|L/(01|04|07|10)/05/./06:006-018) -W 0,0,46 -m pexcn97@gmail.com -M diminishing"
      SMTP_CONFIG: "mail@example.com#user:pass@smtp.example.com:587"
