services:
  udpspeeder-server:
    image: pexcn/docker-images:udpspeeder
    container_name: udpspeeder-server
    restart: unless-stopped
    network_mode: host
    environment:
      TZ: Asia/Taipei
    command: >
      -s -l 0.0.0.0:1777 -r 127.0.0.1:1776
      -f1:3,2:4,8:6,20:10 --timeout 8
      --sock-buf 2048 --log-level 3 --disable-obscure --disable-checksum

  udpspeeder-client:
    image: pexcn/docker-images:udpspeeder
    container_name: udpspeeder-client
    restart: unless-stopped
    network_mode: host
    environment:
      TZ: Asia/Taipei
    command: >
      -c -l 127.0.0.1:1776 -r 11.22.33.44:1777
      -f1:3,2:4,8:6,20:10 --timeout 8
      --sock-buf 2048 --log-level 3 --disable-obscure --disable-checksum
