#
# Caddyfile for AdGuardHome
#

# redirect http to https
http://adg.local.example.com {
	redir https://{host}{uri} permanent
}

# reverse proxy to adguardhome endpoint
https://adg.local.example.com {
	encode zstd gzip
	tls /cert/adg.local.example.com_ecc/fullchain.cer /cert/adg.local.example.com_ecc/adg.local.example.com.key

	reverse_proxy 127.0.0.1:3001 {
		header_up Host {host}
		header_up X-Real-IP {remote}
		header_up X-Forwarded-For {remote}

		# enabled by default
		#header_up X-Forwarded-Proto {scheme}
	}
}
