# For EC20CEFDKG, the manufacturer and product name appear as "Android", we need to correct this.
SUBSYSTEM=="tty", ATTRS{idVendor}=="2c7c", ATTRS{idProduct}=="0125", ATTRS{manufacturer}=="Android", ATTRS{product}=="Android", \
  ENV{ID_VENDOR}="Quectel", \
  ENV{ID_MODEL}="EC20-CE-FDKG", \
  ENV{ID_USB_VENDOR}="Quectel", \
  ENV{ID_USB_MODEL}="EC20-CE-FDKG"

# Since the usbmisc subsystem does not provide enough variables for identification, we need to introduce a few additional ones.
SUBSYSTEM=="usbmisc", ATTRS{idVendor}=="2c7c", ATTRS{idProduct}=="0125", ATTRS{manufacturer}=="Android", ATTRS{product}=="Android", \
  ENV{ID_VENDOR}="Quectel", \
  ENV{ID_MODEL}="EC20-CE-FDKG", \
  ENV{ID_USB_VENDOR}="Quectel", \
  ENV{ID_USB_MODEL}="EC20-CE-FDKG"

# Create persistent device nodes to enable port-independent symlinks.
SUBSYSTEM=="tty", ATTRS{idVendor}=="2c7c", ATTRS{idProduct}=="0125", \
  ENV{ID_USB_VENDOR}=="Quectel", ENV{ID_USB_MODEL}=="EC20-CE-FDKG", ENV{ID_USB_INTERFACE_NUM}=="02", \
  SYMLINK+="at-ec20cefdkg"
SUBSYSTEM=="usbmisc", ATTRS{idVendor}=="2c7c", ATTRS{idProduct}=="0125", \
  ENV{ID_USB_VENDOR}=="Quectel", ENV{ID_USB_MODEL}=="EC20-CE-FDKG", \
  SYMLINK+="qmi-ec20cefdkg"
