services:
  ss-server:
    image: pexcn/docker-images:shadowsocks-libev
    container_name: ss-server
    restart: unless-stopped
    network_mode: host
    environment:
      TZ: Asia/Taipei
      TFO_COMPAT: 0
    command: >
      ss-server
        -s 0.0.0.0
        -p 1776
        -k password
        -m aes-256-gcm
        -t 600
        -n 1048576
        -u
        --reuse-port
        --fast-open
        --no-delay

  ss-local:
    image: pexcn/docker-images:shadowsocks-libev
    container_name: ss-local
    restart: unless-stopped
    network_mode: host
    environment:
      TZ: Asia/Taipei
      TFO_COMPAT: 0
    command: >
      ss-local
        -s 111.222.33.44
        -p 80
        -b 0.0.0.0
        -l 1080
        -k password
        -m aes-256-gcm
        -t 600
        -n 1048576
        -u
        --reuse-port
        --fast-open
        --no-delay
