services:
  tinyfecvpn-server:
    image: pexcn/docker-images:tinyfecvpn
    container_name: tinyfecvpn-server
    restart: unless-stopped
    network_mode: host
    privileged: true
    #depends_on:
    #  - tinyfecvpn-server-0
    environment:
      TZ: Asia/Taipei
      USE_IPTABLES_NFT_BACKEND: 0
    command: >
      -s -l 0.0.0.0:1024
      --tun-dev tinyfecvpn-server --sub-net 10.1.1.0
      -f1:3,2:4,8:6,20:10 --timeout 8
      --sock-buf 2048 --log-level 3 --disable-obscure --disable-checksum

  tinyfecvpn-client:
    image: pexcn/docker-images:tinyfecvpn
    container_name: tinyfecvpn-client
    restart: unless-stopped
    network_mode: host
    privileged: true
    #depends_on:
    #  - tinyfecvpn-client-0
    environment:
      TZ: Asia/Taipei
      USE_IPTABLES_NFT_BACKEND: 0
    command: >
      -c -r 11.22.33.44:1024
      --tun-dev tinyfecvpn-client --sub-net 10.1.1.0 --keep-reconnect
      -f1:3,2:4,8:6,20:10 --timeout 8
      --sock-buf 2048 --log-level 3 --disable-obscure --disable-checksum
