services:
  finalspeed-server:
    image: pexcn/docker-images:finalspeed
    container_name: finalspeed-server
    restart: unless-stopped
    network_mode: host
    privileged: true
    deploy:
      resources:
        limits:
          memory: 512M
    environment:
      TZ: Asia/Taipei
      USE_IPTABLES_NFT_BACKEND: 0
      # `-XX:+UseSerialGC` for lowendbox
      JAVA_OPTS: "-XX:InitialRAMPercentage=75.0 -XX:MinRAMPercentage=75.0 -XX:MaxRAMPercentage=75.0 -Xss256k -XX:+ExitOnOutOfMemoryError"
    command: server 1500

  finalspeed-client:
    image: pexcn/docker-images:finalspeed
    container_name: finalspeed-client
    restart: unless-stopped
    network_mode: host
    privileged: true
    deploy:
      resources:
        limits:
          memory: 512M
    environment:
      TZ: Asia/Taipei
      USE_IPTABLES_NFT_BACKEND: 0
      JAVA_OPTS: "-XX:InitialRAMPercentage=75.0 -XX:MinRAMPercentage=75.0 -XX:MaxRAMPercentage=75.0 -Xss256k -XX:+ExitOnOutOfMemoryError"
    volumes:
      - ./finalspeed-data/client_config.json:/fs/client_config.json:ro
      - ./finalspeed-data/port_map.json:/fs/port_map.json:ro
    command: client
