#
# Caddyfile for nezha
#

# redirect http to https
http://status.local.example.com {
	redir https://{host}{uri} permanent
}

# reverse proxy to nezha dashboard endpoint
https://status.local.example.com {
	encode zstd gzip
	tls /cert/status.local.example.com_ecc/fullchain.cer /cert/status.local.example.com_ecc/status.local.example.com.key

	reverse_proxy 127.0.0.1:8008 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}

		# enabled by default
		#header_up X-Forwarded-Proto {scheme}
	}

	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @websockets 127.0.0.1:8008
}

# reverse proxy to nezha dashboard endpoint (external)
https://status.example.com:2501 {
	encode zstd gzip
	tls /cert/status.example.com_ecc/fullchain.cer /cert/status.example.com_ecc/status.example.com.key {
		protocols tls1.3
	}

	reverse_proxy 127.0.0.1:8008 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}

		# enabled by default
		#header_up X-Forwarded-Proto {scheme}
	}

	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @websockets 127.0.0.1:8008
}

# reverse proxy to nezha dashboard grpc endpoint (external)
https://status-grpc.example.com:2501 {
	encode zstd gzip
	tls /cert/status-grpc.example.com_ecc/fullchain.cer /cert/status-grpc.example.com_ecc/status-grpc.example.com.key {
		protocols tls1.3
	}

	reverse_proxy 127.0.0.1:5555 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}

		# enabled by default
		#header_up X-Forwarded-Proto {scheme}

		transport http {
			versions h2c 2
		}
	}
}
